.btn {
  &.float-right {
    float: right;
  }

  &.margin-bottom {
    margin-bottom: 10px;
  }
}

#works-table {
  border: 1px solid #ddd;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
}

// Form elements
.multi_value {
  .clearfix {
    height: 1px;
    width: 100%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .json-fields-listing {
    &.listing .input-group, .controlled_vocabulary .listing .input-group {
      margin-bottom: 0;
    }

    li {
      border-bottom: 1px solid #ebebeb;
      margin: 0;
      padding: 0 0 15px 0;

      label {
        margin: 10px 0 0px;
      }
    }
  }
}

#orcid-profile {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .list-group {
    padding-right: 0px;

    &:last-child {
      padding-right: 0px;
    }

    .list-group-heading {
      padding: 15px 15px 10px 15px;
    }

    h2 {
      display: inline;
      font-size: 17px;
      font-weight: bold;
      margin: 5px 5px 0;
    }

    .heading-suffix {
      color: #949393;
      font-style: italic;
    }

    .list-entry {
      padding: 10px;

      &:nth-child(odd) {
        background-color: #F9F9F9;
      }

      h3 {
        font-weight: normal;
        margin-bottom: 5px;
        margin-top: 7px;
      }

      ul {
        padding: 0;
        margin: 10px 0 0 0;

        li {
          list-style: none;
          font-size: 13px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
