.list-group {
  &:last-child {
    padding-right: 0;
  }
}

.btn {
  &.btn-orcid {
    border: 3px solid #d2e69c;
    color: #333;
    font-size: 15px;
    letter-spacing: -0.02em;

    &:hover, &:focus, &:active {
      background-color: #d2e69c;
    }
  }
}

#orcid-options-panel {
  label {
    font-weight: normal;
  }
}

.select-work-admin-set {
  margin: 20px;
  select {
    width: 100%;
  }
}

.margin-top {
  margin-top: 20px;
}
