<% if current_user.orcid_identity? %>
	<div id="orcid-profile">
		<div class="list-group col-lg-12">
			<div class="list-group-item">
				<h2><%= t("orcid_identity.profile.employment.title") %></h2>
				<span class="heading-suffix"><%= t("orcid_identity.profile.heading_suffix") %></span>
			</div>

			<div class="list-group-item">
				<div class="list-entry">
					<h3>The employment title</h3>
					<small>2015-01-01 to present</small>
					<small>The address, PO22 213</small>
				</div>

				<div class="list-entry">
					<h3>The employment title</h3>
					<small>2015-01-01 to present</small>
					<small>The address, PO22 213</small>
				</div>
			</div>
		</div>

		<div class="list-group col-lg-12">
			<div class="list-group-item">
				<h2><%= t("orcid_identity.profile.memberships.title") %></h2>
				<span class="heading-suffix"><%= t("orcid_identity.profile.heading_suffix") %></span>
			</div>

			<div class="list-group-item">
				<div class="list-entry">
					<h3>The employment title</h3>
					<small>2015-01-01 to present</small>
					<small>The address, PO22 213</small>
				</div>

				<div class="list-entry">
					<h3>The employment title</h3>
					<small>2015-01-01 to present</small>
					<small>The address, PO22 213</small>
				</div>
			</div>
		</div>
	</div>
	<% end %>
